<nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="img/logo.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-right">
        <div class="links">
          <li><a href="#"><img src="{{ site.baseurl }}/img/publisher.png">Publishers</a></li>
          <li><a href="#"><img src="{{ site.baseurl }}/img/adv.png">Advertisers</a></li>
          <li><a href="#"><img src="{{ site.baseurl }}/img/market.png">Browse Marketplace</a></li>
        </div>
        <li class="visible-xs"><a href="#"><img src="{{ site.baseurl }}/img/user.png">Login</a></li>
        <li class="visible-xs"><a href="#""><img src="{{ site.baseurl }}/img/user.png">Sign Up</a></li>
        <li class="login hidden-xs">
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{ site.baseurl }}/img/user.png">
              <span class="glyphicon glyphicon-triangle-bottom"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign up</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>