/*** Reset some basic elements ***/
    body, h1, h2, h3, h4, h5, h6,
    p, blockquote, pre, hr,
    dl, dd, ol, ul, figure {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

/*** Basic styling ***/
    html, body {
        min-height: 100%;
    }
    body {
        color: $text-color;
        font-size: $font-size-base;
        font-family: $font-family-base;
    }

/*** Typography ***/
    h1 {
        font-size: $font-size-h1;
        color: $black;
        margin-bottom: 35px;
        letter-spacing: 5px;
    }
    h2 {
        font-size: $font-size-h2;
        color: $grey;
        font-family: 'Avenir-Book';
    }
    h3 {
        font-size: $font-size-h3;
        color: $greyish-blue;
        font-family: 'Avenir-Book';
        margin-bottom: 35px;
    }
    h4 {
        font-size: $font-size-h4;
        font-family: 'Avenir-Book';
        color: $grey;
        margin-bottom: 75px;
        opacity: 0.66;
        line-height: 1.6;
        padding: 0 15px;
    }
    h5 {
        font-size: $font-size-h5;
        color: $black;
        opacity: 0.56;
        letter-spacing: 2px;
        margin-bottom: 25px;
    }
    h6 {
        font-size: $font-size-h6;
        color: $whitish-yellow;
        margin-bottom: 45px;
        letter-spacing: 2px;
    }
    p {
        margin-bottom: 20px;
        font-size: $font-size-base-large;
    }

/*** Link styles ***/    
    a {
        font-size: $link-size;
        color: $whitish-pink;
        transition: all 0.2s ease-in;
        font-family: 'AvenirLT-Roman';
        background-position: cover;
        &:hover, &:focus {
            color: lighten($whitish-pink, 30%);
            text-decoration: none;
        }
    }

/*** INput styles ***/
    .form-group {
        position: relative;
        margin-bottom: 25px;
        input, .form-control, .bootstrap-select>.dropdown-toggle {
            width: 100%;
            background-color: $input-bg-color;
            border: none;
            box-shadow: none;
            outline: none;
            color: $black;
            border-radius: 1px;
            height: 55px;
            font-size: $font-size-base;
            font-family: 'AvenirLTStd-Medium';
            padding-left: 55px;
            background-repeat: no-repeat;
            margin-right: 35px;
            background-size: auto 23px;
            background-position: 20px 14px;
            @media #{$xs} {
                padding-left: 47px;
            }
            &:focus {
                box-shadow: none;
                outline: none;
            }
            &::-webkit-input-placeholder { color: $input-color; }
            &::-moz-placeholder          { color: $input-color; }/* Firefox 19+ */
            &:-moz-placeholder           { color: $input-color; }/* Firefox 18- */
            &:-ms-input-placeholder      { color: $input-color; }
        }
        #url {
            background-image: url(../img/url.png);
        }
        .bootstrap-select > .dropdown-toggle  {
            background-image: url(../img/category.png);
        }
        #list {
            background-image: url(../img/list.png);
        }
        #open {
            background-image: url(../img/open.png);
        }
        #click{
            background-image: url(../img/click.png);
        }

        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
        }
        .filter-option {
            color: $input-color;
        }
        .selectpicker  {
            margin: 0;
            text-align: left;
            span {
                color: #979b9f;
                vertical-align: middle;
                text-align: right;
                float: right;
                margin-right: 10px;
                margin-top: 3px;
            }
        }
        .bootstrap-select.btn-group {
            .dropdown-menu {
                width: 100%;
                border-radius: 2px;
                background-color: $input-bg-color;
                margin-top: -1px;
                li a {
                    color: $white;
                    padding: 10px 20px;
                    font-family: 'Avenir-Book';
                    font-weight: bold;
                    &:hover {
                        background-color: $input-bg-color;
                        color: $input-color;
                    } 
                }
            }
            .dropdown-toggle .caret {
                margin-right: 8px;
                color: $input-color;
                border-top: 8px dashed;
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
            }
        }
        .bootstrap-select .dropdown-toggle:focus {
            outline: none !important;
        }

    }
    

/*** Button ***/
    .btn.submt-btn {
        background-color: $green;
        font-size: $button-size;
        color: #e3f7f1;
        width: 100%;
        height: 65px;
        letter-spacing: 2px;
        border-radius: 30px;
        &:focus {
            outline: none;
        }
    }