@font-face {
	font-family: 'AvenirLTStd-Medium';
	src: url('/fonts/AvenirLTStd-Medium.eot') format('embedded-opentype');
 	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Heavy';
	src: url('/fonts/Avenir-Heavy.eot') format('embedded-opentype');
 	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Book';
	src: url('fonts/Avenir-Book.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}